<h2><%= @name %>さま、AJIHENへようこそ！</h2>

<p>この度は「AJIHEN」へのご登録ありがとうございます。</p>
<p><%= @name %>さまにとって「AJIHEN」が新しい味との出会いとなりますよう願っております。</p>

<div>ご登録メールアドレス：<%= @email %></div>
<div>パスワード：ご登録時に入力いただいたパスワード</div>

<p>※このメールは送信専用です。</p>

<div><strong>AJIHEN</strong></div>