<h3>コメントしたレビュー</h3>

<div class="row">
  <% if @comment_posts.empty? %>
    <p>まだレビューにコメントをしていません</p>
  <% else %>
    <% @comment_posts.each do |post| %>
     <%= render 'posts/post', post: post %>
    <% end %>
  <% end %>
</div>