<h3>My気になる！</h3>

<div class="row">
  <% if @favorite_posts.empty? %>
    <p>まだ「気になる！」商品がありません</p>
  <% else %>
    <% @favorite_posts.each do |post| %>
      <%= render 'posts/post', post: post %>
    <% end %>
  <% end %>
</div>