<div class="offset-1">
  <% if (user_signed_in?) && (@user.id == current_user.id) %>
    <h2>マイページ</h2>
  <% else %>
    <h2><%= @user.name %>さんのページ</h2>
  <% end %>
</div>

<div class="row">
  <%= render 'users/user', user: @user %>

  <div class="col-lg-6">
    <h4 class="text-center">My気になる！</h4>
    <div class="row" style="justify-content: center;">
      <% if @favorite_posts.empty? %>
        <p>まだ「気になる！」レビューがありません</p>
      <% else %>
        <% @favorite_posts.each do |post| %>
          <%= render 'posts/post', post: post %>
        <% end %>
        <div class="offset-1 col-10"><%= paginate @favorite_posts %></div>
      <% end %>
    </div>
  </div>
</div>