<div class="text-center">
  <div class="mb-5"><h1>ご利用ありがとうございました</h1></div>
  <p>退会後もみんなの投稿を見ることができます</p>

  <div class="mt-5"><%= link_to "みんなの投稿", posts_path %></div>
  <div class="mt-3"><%= link_to "Topへ", root_path %></div>
</div>