<div class="text-center">
  <div class="mb-5"><h2>お問い合わせ・ご要望送信完了</h2></div>
  <p>入力いただいたメールアドレスにお問い合わせ・ご要望内容の確認メールを送信いたしました。</p>
  <p>いただきましたお問い合わせ・ご要望の内容をこちらで確認次第、対応させていただきます。</p>

  <div class="mt-5"><%= link_to "Topへ", root_path %></div>
</div>