<h4><%= @contact.name %>様からお問い合わせ・ご要望を承りました。</h4>

<div>【メールアドレス】：<%= @contact.email %></div>
<div>【件名】：<%= @contact.subject %></div>
<div>【お問い合わせ・要望内容】：<%= @contact.message %></div>


<p>※このメールは送信専用です。</p>
<div><strong>AJIHEN</strong></div>

