<%= render 'searches/form' %>

<h2 class="text-center">タグ一覧</h2>

<div class="offset-3 col-6">
  <table class="table">
    <% @tags.each do |tag| %>
      <tr>
        <td align="center"><%= link_to tag.name, tag_search_path(tag_id: tag.id), class: "link" %></td>
        <% if (user_signed_in?) && current_user.admin? %>
          <td align="center"><%= link_to "編集", edit_tag_path(tag), class: "btn btn-outline-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
