<%= render 'searches/form' %>

<h2 class="text-center">タグ一覧</h2>

<div class="offset-2 col-8">
  <% @tags.each do |tag| %>
    <table class="table">
      <tr align="center">
        <td><%= link_to tag.name, tag_search_path(tag_id: tag.id), class: "link", style: "text-decoration: underline" %></td>
      </tr>
    </table>
  <% end %>
</div>
