<h1>AJIHENへようこそ</h1>

<p>「AJIHEN」は全国各地様々な調味料の情報を共有するためのレビューサイトです。</p>

  <ul>
    <li>日々の料理がマンネリ化してきた・・・</li>
    <li>いつもの食事に変化を加えたい・・・</li>
    <li>新しい味を求めたい・・・</li>
  </ul>

<p>
  こんなお悩みありませんか？
  そんな時に新しい味との出会いになれるような場所になって欲しいです。<br />
  これは調味料になるかな・・・？と思っても、このサイトのタイトルにある通り<strong>「味変」</strong>できるものは大歓迎！！<br />
  皆様の「味変」を教えてください。
</p>

<p>
  このサイトは会員登録無しでもご覧いただけます。<br />
  会員登録していただくと、レビューの投稿、レビューへのコメント、気になる商品をお気に入りにするなどできるようになります。
</p>

<% unless user_signed_in? %>
  <p><%= link_to "会員登録する", new_user_registration_path %></p>
<% end %>
<p><%= link_to "「味変」できるものを探す", posts_path %></p>