<div class="text-center">
  <h1 class="mb-5">〜AJIHENへようこそ〜</h1>

  <p>「AJIHEN」は全国各地様々な調味料の情報を共有するためのサイトです。</p>

    <ul class="list-unstyled">
      <li>日々の料理がマンネリ化してきた・・・</li>
      <li>いつもの食事に変化を加えたい・・・</li>
      <li>新しい味を求めたい・・・</li>
    </ul>

  <p>
    こんなお悩みありませんか？<br />
    そんな時に沢山ある調味料の中から自分好みのものを見つけて<br />新しい味との出会いになれるような場所になって欲しいです。
  </p>
  <p>
    これは調味料になるかな・・・？と思っても、このサイトのタイトル通り<strong>「味変」</strong>できるものは大歓迎！！<br />
    皆様の「味変」を教えてください。
  </p>

  <p class="mt-5">
    このサイトは会員登録しなくてもご覧いただけます。<br />
    会員登録していただくと、オススメしたい調味料の投稿、投稿へのコメント、<br />
    気になる投稿のお気に入り登録などできるようになります。
  </p>

  <div class="mt-5">
    <% unless user_signed_in? %>
      <p><%= link_to "会員登録する＞", new_user_registration_path %></p>
    <% end %>
    <p><%= link_to "みんなの投稿を見る＞", posts_path %></p>
  </div>
</div>
