<%= render 'searches/form' %>

<h3><%= @tag.name %>一覧</h3>

<% if @posts.empty? %>
  <p>該当の商品がありません</p>
<% else %>
  <% @posts.each do |post| %>
    <%= render 'posts/post', post: post %>
  <% end %>
<% end %>

<%= paginate @posts %>