<div class="write">
  <% if user_signed_in? %>
   <div class="text-center">
      <%= link_to new_post_path, class: "link", style: "text-decoration: none;" do %>
        <%= image_tag('write.png', size: "40x40") %><br />
        <span>レビューを<br />書く</span>
      <% end %>
    </div>
  <% else %>
    <div class="text-center">
      <%= link_to new_user_session_path, class: "link", style: "text-decoration: none;" do %>
        <%= image_tag('write.png', size: "40x40") %><br />
        <span>レビューを<br />書く</span>
      <% end %>
    </div>
  <% end %>
</div>