/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

#back{
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.t-btn{
  width: 40px;
  height: 40px;
}

#error_explanation{
  color: red;
}

.notice{
  color: green;
}

.link {
  color: #696969;
}

.navbar-nav .link{
  text-decoration: none;
}

.card{
  width: 600px;
}

.rank-table{
  border: 5px pink solid;
  background-color: #FFFAFA;
}

.fa-crown{
  color: gold;
}

.fa-star{
  color: orange;
}

.pagination {
  justify-content: center;
}

.pagination>li>a {
  color: #808080;
}

header{
  background-color: #E6FFE9;
  height: 130px;
}

.navbar{
  background-color: #33CC66;
}

