// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 言語に関係なく表示範囲に合わせて改行
table tr,td{
  word-break: break-all;
}

// 投稿内容関連
.p-rate{
  font-size: 23px;
  color: #FF4F02;
}

.post-item{
  width: 350px;
}

.index-card{
  width: 100%;
  height: 160px;
}

.top-card{
  width: 100%;
}

.fa-tag{
  color: #FF8C00;
}

.rate-title{
  font-size: 12px;
}

// スコアのフォントサイズ
.sentiment-score1,
.sentiment-score2,
.sentiment-score3{
  font-size: 20px;
  font-weight: bold;
}

.sentiment-score1{
  color: green;
}

.sentiment-score2{
  color: orange;
}

.sentiment-score3{
  color: #B40404;
}

// details関連
.score-title{
  color: #0080FF;
}

.score-text{
  text-align: start;
}

td > details summary{
  list-style: none;
}

div > details summary {
  list-style: none;
  display : table;
}

.alert-success{
  display: inline-block;
}

.sort-link{
  text-decoration: underline;
  color: #444444;
}

.sort-title{
  background-color: white;
  padding: 0.3em 1.6rem;
  border: 1px solid #008000;
  border-radius: 5px;

  &:hover{
    background-color: #D4EBDB;
  }
}

.sort-item > div {
  padding: 0.3rem;
  text-align: center;

  &:hover{
    background-color: #D4EBDB;
  }
}

// ランキング関連
.rank{
  background-color: #EEFFEF;
  border: 4px #68B66E solid;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  margin-bottom: 1rem;
}

.rank-title{
  background-color: #CBF7CD;
}

.rank-item-list{
  margin: 0 auto;
  padding: 5px;
}

.ranking{
  font-size: 20px;
  font-weight: bold;
}

.rank-item-list:nth-child(1){
  color: #C0B601;
}

.rank-item-list:nth-child(2){
  color: #808080;
}

.rank-item-list:nth-child(3){
  color: #CD853F;
}

.no-rank{
  margin: 0 auto;
  margin-top: 0.5rem;
  font-size: 14px;
}

@media screen and(max-width:992px){
  .rank-item{
    display: flex;
  }

  .rank-item-list{
    margin: 0 auto;
  }
}