// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table tr,td{
  word-break: break-all;
}

.p-rate{
  font-size: 23px;
  color: #FF4F02;
}