<div class="offset-2 col-8">
  <%= form_with model: category, local: true do |f| %>
    <div class="form-group">
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group text-center">
      <%= f.submit btn_text, class: "btn btn-outline-secondary" %>
    </div>
  <% end %>

  <h3>現在登録されているカテゴリ</h3>
  <% categories.each do |category| %>
    <%= category.name %> |
  <% end %>
</div>