<%= render 'searches/form' %>

<h2 class="text-center">カテゴリ一覧</h2>

<div class="offset-2 col-8">
  <% @categories.each do |category| %>
    <table class="table">
      <tr align="center">
        <td><%= link_to category.name, category_search_path(category_id: category.id), class: "link", style: "text-decoration: underline" %></td>
      </tr>
    </table>
  <% end %>
</div>