<%= render 'searches/form' %>

<%= render "posts/new_link" %>

<div class="offset-lg-2 col-lg-8">
  <h2 class="text-center">カテゴリ一覧</h2>
  <table class="table table-borderless">
    <% @categories.each_slice(2) do |categories| %>
      <tr>
        <% categories.each do |category| %>
          <td><i class="fas fa-caret-right"></i>　<%= link_to category.name, category_search_path(category_id: category.id), class: "link" %></td>
          <% if (user_signed_in?) && current_user.admin? %>
            <td><%= link_to "編集", edit_category_path(category), class: "fas fa-edit btn btn-outline-danger" %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>