<%= render 'searches/form' %>

<h2 class="text-center">カテゴリ一覧</h2>

<div class="offset-2 col-8">
  <table class="table">
    <% @categories.each do |category| %>
      <tr align="center">
        <td><%= link_to category.name, category_search_path(category_id: category.id), class: "link", style: "text-decoration: underline" %></td>
        <% if (user_signed_in?) && current_user.admin? %>
          <td align="center"><%= link_to "カテゴリの編集", edit_category_path(category), class: "btn btn-outline-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>