<p>こんにちは <%= @resource.email %>さん</p>

<!--<p>Someone has requested a link to change your password. You can do this through the link below.</p>-->
<p>
  パスワードを変更するには以下のリンクからアクセスしてください。<br />
  ※リンクの有効時間はパスワード変更のリクエストを送った時間から6時間です。
</p>

<p><%= link_to 'パスワードを再設定する', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>こちらのメールに心当たりのない方は、メールを無視もしくは削除してください。</p>
<p>上記のリンクより新しいパスワードを設定するまでは、パスワードは変更されません。</p>
<p>※こちらのメールは送信専用です。</p>
<!--<p>If you didn't request this, please ignore this email.</p>-->
<!--<p>Your password won't change until you access the link above and create a new one.</p>-->

<p><strong>AJIHEN</strong></p>